 
<div class="navbar-container">
    <nav class="navbar home">
            <div class="menu-icons">
                <i class="icon ion-md-menu"></i>
                <i class="icon ion-md-close"></i>
            </div>
            <a href="/">
                <img src="/images/AnalogcutMastering-Logo_white.png" class="navbar-logo pt-2">
            </a>
            <div class="menu-items-container">
                <ul class="nav-menu text-sm mr-8">
                    <li class="nav-elem">
                        <a href="/mastering">Mastering <i class="icon ion-md-arrow-dropdown"></i></a>
                        <ul class="nav-sub-menu">
                            <li><a href="/mastering">Details</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Book a master</a></li>
                        </ul>
                    </li>
                    <li class="nav-elem">
                        <a href="#">Dubplates <i class="icon ion-md-arrow-dropdown"></i></a>
                        <ul class="nav-sub-menu">
                            <li><a href="#">Details</a></li>
                            <li><a href="#">12" Vinyl</a></li>
                            <li><a href="#">10" Vinyl</a></li>
                            <li><a href="#">7" Vinyl</a></li>
                            <li><a href="#">DJ pack</a></li>
                        </ul>
                    </li>
                    <li class="nav-elem"><a href="#">Mixing</a></li>
                    <li class="nav-elem"><a href="#">Tapes</a></li>
                    <li class="nav-elem">
                        <a href="#">Prices <i class="icon ion-md-arrow-dropdown"></i></a>
                        <ul class="nav-sub-menu">
                            <li><a href="#">Mastering</a></li>
                            <li><a href="#">Dubplates</a></li>
                            <li><a href="#">Mixing</a></li>
                            <li><a href="#">Tapes</a></li>
                        </ul>
                    </li>
                    <li class="nav-elem"><a href="#">Clients</a></li>
                    <li class="nav-elem"><a href="#">Studio</a></li>
                    <button class="nav-button px-4 py-2 mt-2 text-sm text-gray-900 bg-gray-200 md:mt-0 focus:text-gray-900 focus:bg-gray-200 focus:outline-none focus:shadow-outline">Get in touch</button>
                </ul> 
            </div>
    </nav>
</div>
