 
<div class"navbar-container">
    <nav class="navbar">
        <div class="menu-icons">
            <i class="icon ion-md-menu"></i>
            <i class="icon ion-md-close"></i>
        </div>
            <a href="#" class="navbar-logo">
                <img src="/images/AnalogcutMastering-Logo_white.png" class="navbar-logo pt-2">
            </a>
            <ul class="nav-menu">
                <li class="nav-elem">
                    <a href="#">Mastering <i class="icon ion-md-arrow-dropdown"></i></a>
                    <ul class="nav-sub-menu">
                        <li><a href="#">Details</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Book a master</a></li>
                    </ul>
                </li>
                <li class="nav-elem">
                    <a href="#">Dubplates <i class="icon ion-md-arrow-dropdown"></i></a>
                    <ul class="nav-sub-menu">
                        <li><a href="#">Details</a></li>
                        <li><a href="#">12" Vinyl</a></li>
                        <li><a href="#">10" Vinyl</a></li>
                        <li><a href="#">7" Vinyl</a></li>
                        <li><a href="#">DJ pack</a></li>
                    </ul>
                </li>
                <li class="nav-elem"><a href="#">Mixing</a></li>
                <li class="nav-elem"><a href="#">Tapes</a></li>
                <li class="nav-elem">
                    <a href="#">Prices <i class="icon ion-md-arrow-dropdown"></i></a>
                    <ul class="nav-sub-menu">
                        <li><a href="#">Mastering</a></li>
                        <li><a href="#">Dubplates</a></li>
                        <li><a href="#">Mixing</a></li>
                        <li><a href="#">Tapes</a></li>
                    </ul>
                </li>
                <li class="nav-elem"><a href="#">Clients</a></li>
                <li class="nav-elem"><a href="#">Studio</a></li>
                <button class="button-type1">Get in touch</button>
            </ul>
        
    </nav>
</div>
