<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/build/tailwind.css">
    <link rel="stylesheet" href="/css/styles.css">
    {{#if pageTitle}}
    <title>{{title}}</title>
    {{else}}
    <title>No title</title>
    {{/if}}
    <script
        type="module"
        src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"
    ></script>
</head>
<body class="font-sans">
    {{#if navbarHome}}
    <header>{{> navbar-home}}</header>
    {{else}}
    <header>{{> navbar}}</header>
    {{/if}}
    <main>{{{body}}}</main>
    <footer>{{> footer}}</footer>
</body>
<script src="/script.js"></script>
</html>