<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/build/tailwind.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>AnalogCut Mastering & Dubplates</title>
</head>
<body class="font-sans">
    <header>{{> navbar}}</header>
    <main>{{{body}}}</main>
    <footer>{{> footer}}</footer>
</body>
<script src="/script.js"></script>
</html>