<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/build/tailwind.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>AnalogCut Mastering & Dubplates</title>
</head>
<body>
    <header>{{!-- Insert partial here --}}</header>
    <main>{{{body}}}</main>
    <footer>{{!-- Insert partial here --}}</footer>
</body>
<script src="/script.js"></script>
</html>