<section class="product-page">
    <div class="hero-prod-container">
        <div class="left-skewed-container">
            <div class="skewed-img-container">
                <img class="hero-prod-img" src="/images/rack_homepage_1400_1017.png" alt="mastering rack analog cut studio Berlin">
            </div>
        </div>
        <div class="hero-prod-text">
            <h1 class="big-title">Mastering</h1>
            <h3 class="small-title">Feel the analogue punch.</h3>
            <button class="button-type1 px-4 py-2 mt-2 text-sm text-gray-900 bg-gray-200 md:mt-0 focus:text-gray-900 focus:bg-gray-200 focus:outline-none focus:shadow-outline">Get in touch</button>
        </div>
    </div>
    <div class="description-container">
        <div class="text-column-prod">
            <h2 class="mid-title py-4">Mastering</h2>
            <p>
                We base all mastering processes on analog equipment, ensuring to improve the audio quality of all types of
                source
                material.
        
                We optimise the audio material to obtain the ideal sound for each format (Vinyl, Digital, CD, Cassette). In fact
                using
                specific treatments, and knowing thoroughly the limits of all formats ensure to reach the best sound for each
                media.
        
                In some cases Stereo Mastering could be not enough, and your project may need more accurate work on separated
                instruments like kick drum, bass or vocal to obtain a powerful and detailed sound. In this case we suggest Stem
                Mastering, to work deeply on your mix and achieve the desired result. You can subdivide your song in groups,
                like: Kick,
                Drums, Bass, Synths or Guitars, Other Instruments, Vocal.
        
                Send us one of your songs to receive a free preview of our mastering process.
        
                Book a session or receive a quote for your project on the Booking page.
            </p>
        </div>
        <div class="text-column-prod">
            <h2 class="mid-title py-4">Master Disc Cut</h2>
            <p>
                We provide master lacquer cutting on Neuman VMS 70 Lathe thanks to our partnership with different facilities in
                Europe. Every song will be mastered in our analog chain, and optimized for the final format (LP, Maxi Single,
                Ep, 7"), paying attention on each part of your mix, considering the position of the song in the vinyl, reducing
                the artefacts of the translation on the vinyl master. In this way we obtain loud vinyl masters at high quality
                and an open sound. Our Prices for Lacquer Cutting are very clear, and we offer the possibilities to receive also
                the digital version of the master.
            </p>
            <h2 class="mid-title py-4">Audio Restoration</h2>
            <p>We give new life to your deteriorated audio dramatically improving the quality and details of the source, getting
                the possibilities to use it for reissue on new formats, archiving back catalogues or just to listen it in the
                right way.
        
                Currently we restore audio from vinyl, cassette, DAT, cd or digital formats.
                Check our <a class="text-link" href="/prices">prices</a> and contact us to book a session.
            </p>
        </div>
    </div>
</section>