/* generic */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 90;
}

/* generic buttons */

.button-type1 {
    background-color: #880b8a;
    color: white;
    margin: 30px auto;
}

.button-type1:hover {
    background-color: #ccff00;
    color: black;
}

/* navbar */

.navbar-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.menu-icons {
    color: white;
    font-size: 4rem; 
    position: absolute;
    top: 50%;
    right: 2rem; 
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none; 
}

.navbar {
    width: 100%;
    height: 8rem;
    max-height: 150px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    width: 23rem;
    height: auto;
    position: relative;
    top: 30px; 
    left: 15px;
    max-width: 40vh;
    overflow: visible;
}


.nav-menu {
    display: flex; 
    align-items: center;
}

.nav-menu li {
    position: relative;
    color: white;
}

.nav-menu li:hover > .nav-sub-menu {
    top: 4rem; 
    opacity: 1;
    visibility: visible;
}

.nav-menu a {
    display: block;
    padding: 0 1.5rem;
}

.nav-sub-menu {
    width: 8.9rem;
    display: block;
    position: absolute;
    z-index: 100;
    top: 16rem;  
    border-top: 3px solid #ccff00;
    transition: all 650ms ease;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    
}

.nav-sub-menu::before {
    content: "";
    position: absolute;
    top: -2rem;
    left: 1rem;
    border: 1.0rem transparent solid;
    border-bottom-color:  #ccff00;
}

.nav-sub-menu li {
    line-height: 2.5rem;
    color: black;
}

.nav-sub-menu li:hover{
    color: #880b8a;
} 

.nav-elem {
    transition: 0.5s;
}

.nav-elem:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    margin-top: 10px;
    background: #ccff00;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

.nav-elem:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

@media screen and (max-width: 1250px) {
    .nav-menu a {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 1100px) {
    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        flex-direction: column;
        display: none;
        z-index: 1000;
        background-color:rgba(0, 0, 0, 0.95);
        overflow-y: scroll;
        width: 100vw;
    }

    .nav-menu > li {
        line-height: 4rem;
    }
    
    .nav-menu li:hover > .nav-sub-menu {
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }
    
    .nav-sub-menu {
        position: initial;
        border: 3px solid transparent;
        border-left-color: #ccff00;
        margin-left: 1rem; 
        max-height: 0;
    }
    
    .nav-sub-menu::before {
        display: none; 
    }
    
    .menu-icons {
        display: block;
    }
    
    .ion-md-close {
        display: none; 
    }

    .navbar.active .ion-md-close {
        display: block;
    }
    
    .navbar.active .ion-md-menu {
        display: none;
    }

    .navbar.active .nav-menu {
        display: flex;
    }

}


/* 

.navbar-logo {
    position: relative;
    top: 50px;
    max-width: 40vh;
    overflow: visible;
}

.nav-menu {
    display: flex; 
}

.nav-sub-menu {
    display: flex;
    flex-direction: column;
    display: none;
}

.nav-menu:hover > .nav-sub-menu {
    display: block;
}

.nav-elem {
    position: relative;
    transition: 0.5s;
    color: white;
    padding: 10px 20px;
}

.nav-elem:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #ccff00;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

.nav-elem:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }


.navbar-button {
    background-color: #880b8a;
    color: white;
} 

.navbar-button:hover {
    background-color: #ccff00;
    color: black;
} */


/* hero section home */
.big-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.mid-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.small-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.hero-img-cont {
    box-shadow: -10px 40px #880b8a, 0px 40px #880b8a;
}

.hero-img-cont:hover {
    box-shadow: -10px 40px #ccff00, 0px 40px #ccff00;
}

.hero-img {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); 
}

.hero-img:hover {
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

/* media queries hero section */
@media screen and (max-width: 1100px) {
    .navbar-logo {
        position: relative;
        top: 0px;
        max-width: 20vh;
        overflow: hidden;
    }
}

/* black section home */

.home-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-description-left {
    position: relative; 
    right: 90px;
    padding: 40px 20px;
    max-width: 20%;
}

.home-description-right {
    padding: 80px 20px;
    max-width: 30%;
}

.black-section {
    background-color: black;
    transform: skewY(-3.8deg);
    padding-bottom: 10vh;
} 

.black-section-bottom {
    margin-top: -10vh;
}

.grid-container { 	
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    gap: 50px;
    max-width: 1400px;
    max-width: 75em;
    margin: 0 auto; 
    transform: skewY(3.8deg);
}

.card {
    background-color: white;
    border-top: solid 15px #880b8a;
    position: relative;
}

.card:hover {
    border-top: solid 15px #ccff00;
    bottom: 5px;
}

.card-image {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); 
}

.card-image:hover {
    transition: filter .2s ease-in-out;
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

.card-title {
    padding: 20px 10px 0 10px;
    color: #880b8a;
    font-size: 30px; 
    font-weight: 700;
}

.card-text {
    padding: 10px;
}

/* media-queries mid-section home */

@media screen and (max-width: 1300px) {
    .home-description-left {
        position: relative; 
        min-width: 30%;
    }
}

@media screen and (max-width: 800px) {
    .home-description-left {
        position: relative; 
        min-width: 75%;
        right: 0;
    }
    .home-description-right {
        padding: 0px 20px;
        min-width: 75%;
        margin-bottom: 20px;
    }
    .button-type1 {
        margin-top: 40px;
        width: 100%;
    }

}




/* white section home */

.home-bottom-section {
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    background-color: black;
    height: 10vh;
}

.social-svg-logo {
    width: 20px;
    height: auto;
    margin: 5px; 
}
.social-svg-logo:hover {
    width: 25px;
    height: auto;
}



@media screen and (max-width: 750px) {
    .home-bottom-section {
        height: 5vh;
    }
}
