/* generic */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    font-family: "Montserrat", sans-serif;
}

nav {
    font-family: "Montserrat", sans-serif;
}

footer {
    font-family: "Montserrat", sans-serif;
    text-align: -webkit-center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 90;
}

/* classes added to solve heroku bugs */

.white-on-black {
    color: white;
    background-color: black;
}

/* generic buttons */

.text-link {
    color: #880b8a;
}

.text-link:hover {
    color: #ccff00;
}

.button {
    background-color: #880b8a;
    color: white;
}

.button:hover {
    background-color: #ccff00;
    color: black;
}

.type1 {
    margin: 30px auto;
}

.type2 {
    margin: 30px auto;
}

@media screen and (max-width: 800px) {
    .type1 {
        margin-top: 40px;
        width: 100%;
    }
    .type2 {
        width: auto;
    }
}

/* navbar */

.menu-icons {
    color: white;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none;
}

.navbar {
    width: 100%;
    height: 8rem;
    max-height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.7s;
}

.home {
    background-color: black;
}

.prod {
    background-color: transparent;
    position: absolute;
}

.navbar-logo {
    height: auto;
    position: relative;
    left: 15px;
    overflow: visible;
    transition: all 0.7s;
    width: 23rem;
    top: 30px;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu li {
    position: relative;
    color: white;
}

.nav-menu li:hover > .nav-sub-menu {
    top: 4rem;
    opacity: 1;
    visibility: visible;
}

.nav-menu a {
    display: block;
    padding: 0 1.5rem;
}

.nav-sub-menu {
    width: 8.9rem;
    display: block;
    position: absolute;
    z-index: 100;
    top: 16rem;
    border-top: 3px solid #ccff00;
    transition: all 650ms ease;
    opacity: 0;
    visibility: hidden;
    background-color: white;
}

.nav-sub-menu::before {
    content: "";
    position: absolute;
    top: -2rem;
    left: 1rem;
    border: 1rem transparent solid;
    border-bottom-color: #ccff00;
}

.nav-sub-menu li {
    line-height: 2.5rem;
    color: black;
}

.nav-sub-menu li:hover {
    color: #880b8a;
}

.nav-elem {
    transition: 0.5s;
}

.nav-elem:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    margin-top: 10px;
    background: #ccff00;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

.nav-elem:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-button {
    background-color: #880b8a;
    color: white;
    margin: 30px auto;
}

.nav-button:hover {
    background-color: #ccff00;
    color: black;
}

@media screen and (max-width: 1250px) {
    .nav-menu a {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 1100px) {
    .menu-items-container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.95);
    }

    .navbar-logo {
        position: relative;
        top: 0;
        max-width: 12rem;
        /* overflow: hidden; */
    }

    .nav-menu {
        /* position: fixed; */
        /* top: 0;
        left: 0; */
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        display: none;
        z-index: 1000;
        overflow-y: scroll;
        width: 200px;
    }

    .nav-menu > li {
        line-height: 4rem;
    }

    .nav-menu li:hover > .nav-sub-menu {
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    .nav-sub-menu {
        position: initial;
        border: 3px solid transparent;
        border-left-color: #ccff00;
        margin-left: 1rem;
        max-height: 0;
    }

    .nav-elem:after {
        margin-top: 0px;
    }

    .nav-sub-menu::before {
        display: none;
    }

    .menu-icons {
        display: block;
    }

    .ion-md-close {
        display: none;
    }

    .navbar.active .ion-md-close {
        display: block;
    }

    .navbar.active .ion-md-menu {
        display: none;
    }

    .navbar.active .menu-items-container,
    .nav-menu {
        display: flex;
    }

    .nav-button {
        width: 100%;
    }
}

/* hero section home */
.big-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

.mid-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 3rem;
}

.small-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.subtitle {
    color: #d4ccc4;
    font-size: 2.2rem;
    font-weight: 500;
}

.hero-img-cont {
    box-shadow: -10px 40px #880b8a, 0px 40px #880b8a;
}

.hero-img-cont:hover {
    box-shadow: -10px 40px #ccff00, 0px 40px #ccff00;
    transition: box-shadow 1s;
}

.hero-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.hero-img:hover {
    transition: filter 0.5s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

/* media queries hero section */
@media screen and (max-width: 1100px) {
    .big-title {
        font-size: 2.5rem;
        text-align: center;
    }
}

/* hero section product  */

.big-title-product {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

.hero-prod-container {
    width: 100vw;
    height: 40rem;
    display: flex;
    background-color: black;
    align-items: center;
}

.left-skewed-container {
    width: 45vw;
    height: 100%;
    overflow: hidden;
    transform: skewX(10deg);
    margin-left: -100px;
    border-right: solid 10px #880b8a;
}

.left-skewed-container:hover {
    border-right: solid 10px #ccff00;
    transition: border-right 1s;
}

.skewed-img-container {
    width: 50vw;
    height: 100%;
}

.hero-prod-img {
    width: 100%;
    height: 100%;
    transform: skewX(-10deg);
    object-fit: cover;
}

.hero-prod-text {
    color: white;
    position: relative;
    left: 20%;
}

@media screen and (max-width: 1300px) {
    .hero-prod-img {
        position: relative;
        left: 100px;
    }

    .hero-prod-text {
        max-width: 60%;
    }
}

@media screen and (max-width: 1300px) {
    .big-title-product {
        font-size: 2.5rem;
        text-align: left;
    }
}

@media screen and (max-width: 800px) {
    .hero-prod-text {
        left: 15%;
    }
}

/* mid section home */

.home-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-description-left {
    position: relative;
    right: 90px;
    padding: 40px 20px;
    max-width: 20%;
}

.home-description-right {
    padding: 80px 20px;
    max-width: 30%;
}

.black-section {
    background-color: black;
    transform: skewY(-3.8deg);
    padding-bottom: 10vh;
}

.black-section-bottom {
    margin-top: -10vh;
    background-color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    gap: 50px;
    max-width: 1400px;
    max-width: 75em;
    margin: 0 auto;
    transform: skewY(3.8deg);
}

.card {
    background-color: white;
    border-top: solid 15px #880b8a;
    position: relative;
}

.card:hover {
    border-top: solid 15px #ccff00;
    transform: translateY(-3%);
    transition: all ease-out 1s;
}

.card-image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.card:hover > .card-image {
    transition: filter 0.2s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.card-title {
    padding: 20px 10px 0 10px;
    color: #880b8a;
    font-size: 30px;
    font-weight: 700;
}

.card-text {
    padding: 10px;
}

/* media-queries mid-section home */

@media screen and (max-width: 1300px) {
    .home-description-left {
        position: relative;
        min-width: 30%;
    }
}

@media screen and (max-width: 800px) {
    .home-description-left {
        position: relative;
        min-width: 75%;
        right: 0;
    }
    .home-description-right {
        padding: 0px 20px;
        min-width: 75%;
        margin-bottom: 20px;
    }
}

/* mid section product */

.white-description-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.prod-description-col {
    max-width: 40rem;
}

.black-description-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 40px 20px 0;
    flex-wrap: wrap;
    transform: skewY(3.8deg);
    color: white;
    background-color: black;
    /* border-bottom: solid 30px #ccff00; */
}

.unskew {
    transform: skewY(-3.8deg);
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px 0;
}

.up {
    position: relative;
    top: -6rem;
}

@media screen and (max-width: 1300px) {
    .prod-description-col {
        padding: 0px 20px;
        min-width: 75%;
    }

    .unskew {
        padding: 0 0 30px;
    }

    .up {
        position: relative;
        top: 0rem;
    }
}

/* bottom section home */

.home-bottom-section {
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    background-color: black;
    height: 10vh;
}

.social-svg-logo {
    width: 20px;
    height: auto;
    margin: 5px;
}
.social-svg-logo:hover {
    width: 25px;
    height: auto;
}

@media screen and (max-width: 750px) {
    .home-bottom-section {
        height: 5vh;
    }
}

/* form */

.master-form {
    padding: 100px 0 120px;
    margin: -100px 0;
    background-color: #880b8a;
}

input,
textarea,
select {
    color: black;
}

label {
    color: white;
}

.input-field {
    border: black solid 1px;
    margin: 10px 0;
    padding: 15px;
    outline: none;
}

.form-col {
    display: flex;
    flex-direction: column;
    min-width: 650px;
}

.unique-col {
    width: 100%;
    margin: 30px 0;
}

.hidden {
    display: none;
}

.show {
    display: inline-block;
}

select {
    height: 55px;
    color: #a0afc0;
    outline: none;
}

.up2 {
    position: relative;
    top: -3rem;
}

.down {
    position: relative;
    top: 56px;
}

.small-text {
    font-size: 0.6rem;
}

.total-container {
    color: white;
    background-color: #000;
    padding: 10px 20px;
    margin-top: 10px;
}

.total-button {
    background-color: #ccff00;
    color: black;
    margin: 20px auto;
    width: 100%;
    padding: 10px;
}

.total-button:hover {
    background-color: white;
    color: #880b8a;
}

#total {
    font-size: 25px;
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 6px;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: #ffffff;
    border: solid black 1px;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.3rem;
    margin-bottom: 0.1rem;
    outline: none;
    /* z-index: 1000; */
}
.option-input:hover {
    background: #880b8a;
}
.option-input:checked {
    background: #ccff00;
}
.option-input:checked::before {
    height: 20px;
    width: 20px;
    position: absolute;
    content: "X";
    display: inline-block;
    font-size: 16.66667px;
    text-align: center;
    line-height: 20px;
    color: black;
    top: -1px;
    left: -1px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #ccff00;
    content: "";
    display: block;
    position: relative;
    z-index: 100;
}

@media screen and (max-width: 1300px) {
    .down {
        position: relative;
        top: 0rem;
    }

    .up2 {
        position: relative;
        top: 0rem;
    }

    .form-col {
        min-width: 200px;
    }
}

/* form animations */

@keyframes click-wave {
    0% {
        height: 20px;
        width: 20px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 100px;
        width: 100px;
        margin-left: -40px;
        margin-top: -40px;
        opacity: 0;
    }
}

/* footer */

.footer-text {
}
